{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Buscar préstamos</h3>
    <form method="POST" action={% url 'buscar_prestamos' %} class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="rut" class="form-label">RUT del usuario:</label>
            <input type="text" id="rut" name="rut" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar préstamos</button>
    </form>

    {% if prestamos %}
        <h3>Préstamos de {{ rut }}</h3>
        <form method="POST" action={% url 'devolver_libro' %} class="mb-4">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Seleccionar</th>
                        <th>Título del libro</th>
                    </tr>
                </thead>
                <tbody>
                {% for prestamo in prestamos %}
                    <tr>
                        <td><input type="radio" name="prestamo" value="{{ prestamo.id }}" required></td>
                        <td>{{ prestamo.libro.titulo }}</td>
                    </tr>
                {% endfor %}
                <input type="hidden" name="rut" value="{{ rut }}">
                </tbody>
            </table>
            <button type="submit" class="btn btn-danger">Devolver libro seleccionado</button>
        </form>
    {% else %}
        <p class="alert alert-info">No se encontraron préstamos para el RUT proporcionado.</p>
    {% endif %}
</div>
{% endblock %}
