{%extends 'core/base.html'%}


{% block content %}

{% if request.user.is_authenticated %}
    <hr>
    <h4>
        {{user.username | upper }}, Bienvenido
    </h4>
    <div class="card-deck mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Renovar Libro</h5>
            <p class="card-text">Renueva tus libros fácilmente desde tu cuenta.</p>
                <h5>
                  <a class="nav-link" href={% url 'insertarlibro' %}>Inserta un nuevo Libro</a>
                </h5>
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prestamo</h5>
            <p class="card-text">................</p>
                <h5>
                  <a class="nav-link" href={% url 'insertar_prestamo' %}>Inserta un nuevo prestamo</a>
                </h5>
          </div>
        </div>

        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ingresa un nuevo usuario</h5>
            <p class="card-text">............</p>
                <h5>
                  <a class="nav-link" href={% url 'insertar_usuario' %}>INSERTA UN NUEVO USUARIO</a>
                </h>
          </div>  
        </div>

        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Ingresa un nuevo usuario</h5>
              <p class="card-text">............</p>
                  <h5>
                    <a class="nav-link" href={% url 'devolver_libro' %}>Devolver libro</a>
                  </h>
            </div>  
          </div>
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Notificaciones</h5>
            <p class="card-text">Recibe notificaciones sobre fechas de devolución y novedades.</p>
          </div>
        </div>
      </div>
{% endif %}

{% endblock %}