{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Lista de Usuarios</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Correo Electrónico</th>
                    <th>Número de Teléfono</th>
                    <th>Tipo de Usuario</th>
                    <th>RUT</th>  
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td>{{ usuario.correo_electronico }}</td>
                    <td>{{ usuario.numero_de_telefono }}</td>
                    <td>{{ usuario.get_user_type_display }}</td>
                    <td>{{ usuario.rut }}</td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
